{% extends "chai_layout.html" %} 

{% block title %} Chai Page {% endblock %}

{% block content %}
<div class="h-screen">
 <!-- Chai Cards Grid -->
    <section class="py-16">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
                {% for chai in chais %}
                <div class="bg-blue-800 rounded-lg p-4 text-white relative">
                    <img class="rounded shadow-lg w-full h-48 object-cover mb-4" src="{{ chai.image.url }}" alt="Masala Chai">
                    <h3 class="text-2xl font-bold mb-2">{{ chai.name }}</h3>
                    <a href="#" class="inline-block mb-4">
                        <button type="button" class="bg-chai-gold hover:bg-yellow-600 text-white px-4 py-2 rounded transition duration-300">
                            {{ chai.type }}
                        </button>
                    </a>
                    <div class="flex justify-between items-center mt-4">
                        <form action="{% url 'delete_chai' chai.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="bg-red-600 hover:bg-red-700 text-white px-3 py-1 rounded text-sm transition duration-300">
                                Delete
                            </button>
                        </form>
                        <form action="{% url 'update_chai' chai.id %}">
                            <button class="bg-green-600 hover:bg-green-700 text-white px-3 py-1 rounded text-sm transition duration-300" >
                                Update
                            </button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %}


